/* =========================================================================== *\
    Masonry
    Based on http://w3bits.com/css-masonry/
\* =========================================================================== */

/* @define Masonry */

.Masonry {
    column-count: 4;
    column-gap: 1em;
    line-height: 1;
}

.Masonry-item {
    background-color: #eee;
    break-inside: avoid;
    display: inline-block;
    margin: 0 0 1em;
    page-break-inside: avoid;
    position: relative;
    width: 100%;
}

.Masonry-image {
    height: auto;

    /* transition: all .4s ease-in-out; */
    width: 100%;
}

.Masonry-imageWrap {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.Masonry-play {
    background: url('../images/play-button.png');
    height: 58px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 58px;
    z-index: 1;
}

.Masonry-link {
    color: inherit;
    display: block;
    text-decoration: none;
}

.Masonry-link:active,
.Masonry-link:focus,
.Masonry-link:hover {
    color: inherit;
    text-decoration: none;
}

.Masonry-link:active .Masonry-image,
.Masonry-link:focus .Masonry-image,
.Masonry-link:hover .Masonry-image {
    /* transform: scale(1.15); */
}

.Masonry-title {
    font-size: 0.9em;
    padding: 4px 8px;
}

@media (--m-lg) {
    .Masonry {
        column-count: 3;
    }
}

@media (--m-md) {
    .Masonry {
        column-count: 2;
    }
}

@media (--m-sm) {
    .Masonry {
        column-count: 1;
    }
}

/* ------------------------------------ *\
    Masonry Tight View
\* ------------------------------------ */

.Masonry--tight {
    column-gap: 0;
}

.Masonry--tight .Masonry-item {
    margin: 0;
}

.Masonry--tight .Masonry-title {
    background-image: linear-gradient(transparent, rgb(20 20 20 / 60%));
    bottom: 0;
    color: #fff;
    display: none;
    left: 0;
    padding: 10px 8px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    width: 100%;
}

.Masonry--tight .Masonry-link:hover .Masonry-title {
    display: block;
}

/* ------------------------------------ *\
    Title Overlay Option
\* ------------------------------------ */

.Masonry-title--overlay {
    background-image: linear-gradient(transparent, rgb(20 20 20 / 60%));
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 10px 8px;
    position: absolute;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    width: 100%;
}
