/* =========================================================================== *\
    Staff Grid
\* =========================================================================== */


/* @define StaffGrid */

.StaffGrid {

}

.StaffGrid-image {
    margin-bottom: 20px;
}

.StaffGrid-text {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.StaffGrid-icon {
    color: #516cae;
    font-size: 2rem;
}

.StaffGrid-icon:active,
.StaffGrid-icon:focus,
.StaffGrid-icon:hover {
    color: var(--theme-typography-link-colorHover);
}
