{% extends 'two-column-right-sidebar' %}

{% block banner %}
    {% set content = '<h1 class="flex flex-col align-center g-1">Blog<span class="h3 m-0">' ~ category.categoryName ~ '</span></h1>' %}
    {% include('content-builder/banner') %}
{% endblock %}

{% block main %}
    {{ category.description }}
    {% if category.subCategories %}
        <h2>Sub categories</h2>
        {% for subCategory in category.subCategories %}
            <p><a href="{{ subCategory.url }}">{{ subCategory.categoryName }}</a></p>
        {% endfor %}
    {% endif %}
    {% if category.posts %}
        {% for post in category.posts %}
            {% include 'blog/post-list-item-simple' %}
        {% endfor %}
        {% include 'snippets/pagination' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include 'blog/sidebar' %}
{% endblock %}
