{% extends 'two-column-right-sidebar' %}

{% block banner %}
    {% set content = '<h1>Blog</h1>' %}
    {% if pagination.current > 1 %}
        {% set content = '<h1 class="flex flex-col align-center g-1">Blog<span class="h3 m-0">Page ' ~ pagination.current ~ '</span></h1>' %}
    {% endif %}
    {% include('content-builder/banner-bar') %}
{% endblock %}

{% block main %}
    {% if posts %}
        {% for post in posts %}
            {% include 'blog/post-list-item-simple' %}
        {% endfor %}
        {% include 'snippets/pagination' %}
    {% endif %}

{% endblock %}

{% block sidebar %}
    {% include 'blog/sidebar' %}
{% endblock %}
