{% extends 'two-column-right-sidebar' %}

{% block banner %}
    {% set content = '<h1 class="flex flex-col align-center g-1">Blog<span class="h3 m-0">' ~ tag.tagName ~ '</span></h1>' %}
    {% include('content-builder/banner') %}
{% endblock %}

{% block main %}
    {{ tag.description }}
    {% if tag.posts %}
        {% for post in tag.posts %}
            {% include 'blog/post-list-item-simple' %}
        {% endfor %}
        {% include 'snippets/pagination' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include 'blog/sidebar' %}
{% endblock %}
