/* =========================================================================== *\
    Sidebar Box Styles
\* =========================================================================== */


/* @define SidebarBox */

.SidebarBox {
    margin-bottom: 40px;
}

.SidebarBox:last-child {
    margin-bottom: 0;
}

.SidebarBox-heading {
    background: transparent;
    border-bottom: 1px solid var(--theme-navbar-bg);
    color: var(--theme-primary-color);
    font-family: var(--theme-typography-heading-fontFamily);
    font-size: var(--base-typography-h3-fontSize);
    font-weight: var(--base-typography-heading-fontWeight);
    letter-spacing: var(--base-typography-heading-letterSpacing);
    line-height: var(--base-typography-h3-lineHeight);
    padding-bottom: 0;
}

.SidebarBox-item {
    border-bottom: 1px solid #e1e1e1;
    margin: 10px 0;
    padding-bottom: 14px;
}

.SidebarBox-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* ------------------------------------ *\
    Secondary content
\* ------------------------------------ */


.SidebarBox-secondary {
    color: #9f9f9f;
    font-size: 80%;
}
