{# CATEGORY FILTER API #}

{% if tags %}
    <div class="SidebarBox">
        <div class="SidebarBox-heading">Tags</div>
        {% for tag in tags %}
            <div class="SidebarBox-item">
                <a href="{{ tag.url }}">{{ tag.tagName }}</a>
                <span class="SidebarBox-secondary"> - {{ tag.postCount }} post{% if tag.postCount > 1 %}s{% endif %}</span>
            </div>
        {% endfor %}
    </div>
{% endif %}
