/* =========================================================================== *\
    File-Heading
\* =========================================================================== */


/* @define FeaturedText */

.FeaturedText {
    font-family: var(--theme-typography-serif);
    margin: 2em 0;
    padding: 10px;
    text-align: center;
}

.FeaturedText-content {
    font-size: 30px;
    font-style: italic;
    line-height: 42px;
    margin-bottom: 1em;
}

.FeaturedText-title {
    font-weight: bold;
    padding: 0 30px;
}
