/* =========================================================================== *\
    Featured Content
\* =========================================================================== */


/* @define FeaturedContent */

.FeaturedContent {
    background: var(--theme-featured-content-background);
    color: var(--theme-featured-content-color);
    margin: 2em calc(var(--g-gutter) * -1);
    padding: 40px;
}

@media (--c-bp-sm) {
    .FeaturedContent {
        margin: 1.5em -10px;
    }
}

/* postcss-bem-linter: ignore */

.FeaturedContent h1,
.FeaturedContent h2,
.FeaturedContent h3,
.FeaturedContent h4,
.FeaturedContent h5,
.FeaturedContent h6,
.FeaturedContent .ContentGrid-title {
    color: var(--theme-featured-content-heading-color);
}

.FeaturedContent a:hover {
    color: var(--theme-featured-link-color-hover);
}

/* postcss-bem-linter: ignore */

.FeaturedContent .Button {
    background: var(--theme-featured-button-background);
    color: var(--theme-featured-button-color);
}

/* postcss-bem-linter: ignore */
.FeaturedContent .Button:active,
.FeaturedContent .Button:focus,
.FeaturedContent .Button:hover {
    background: var(--theme-featured-button-background-hover);
    color: var(--theme-featured-button-color-hover);
}
