/* ===========================================================================
    Banner with form
=========================================================================== */

/* @define BannerWithForm */

.BannerWithForm {
    background: var(--BannerWithForm-background, transparent);
    padding: var(--BannerWithForm-padding, 0);
}

.BannerWithForm-content {
    align-items: var(--BannerWithForm-content-horizontal-alignment, center);
    background: var(--BannerWithForm-content-background, tranparent);
    color: var(--BannerWithForm-content-color, inherit);
    display: flex;
    flex-direction: column;
    justify-content: var(--BannerWithForm-content-vertical-alignment, start);
    padding: var(--BannerWithForm-content-padding, 0);
    text-align: var(--BannerWithForm-content-horizontal-alignment, center);
}

/* postcss-bem-linter: ignore */
.BannerWithForm-content h1 {
    color: var(--BannerWithForm-content-h1-color);
}

/* postcss-bem-linter: ignore */
.BannerWithForm-content h2 {
    color: var(--BannerWithForm-content-h2-color);
}

.BannerWithForm-form {
    background: var(--BannerWithForm-form-background, tranparent);
    color: var(--BannerWithForm-form-color, inherit);
    display: flex;
    flex-direction: column;
    justify-content: var(--BannerWithForm-form-vertical-alignment, start);
    padding: var(--BannerWithForm-form-padding, 20px 0);
}

/* postcss-bem-linter: ignore */
.BannerWithForm-form h2 {
    color: var(--BannerWithForm-form-h2-color);
}

/* postcss-bem-linter: ignore */
.BannerWithForm-form label {
    color: var(--BannerWithForm-form-color, inherit);
}
