/* =========================================================================== *\
    SLIDER
\* =========================================================================== */

/** @define Slider */
.Slider {
    clear: both;
    position: relative;
}

.Slider-slide {
    position: relative;
}

.Slider-slide--hidden {
    display: none;
}

.Slider-link,
.Slider-link:active,
.Slider-link:focus,
.Slider-link:hover {
    color: inherit;
    display: block;
    overflow: hidden; /* Done to prevent a scaled blurred image (with .u-imageBlur) from overflowing */
    text-decoration: none;
}

.Slider-image {
    display: block;
    height: auto;
    width: 100%;
}

/* postcss-bem-linter: ignore */
.Slider-image > img {
    object-fit: cover;
    width: 100%;
}

.Slider-itemNav {
    cursor: pointer;
}

/* ------------------------------------ *\
    #SLIDER CONTENT
\* ------------------------------------ */

.Slider-content {
    box-sizing: border-box;
    left: 0;
    padding: 0 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Slider-content--bottomLeft,
.Slider-content--bottomCenter,
.Slider-content--bottomRight {
    bottom: 5%;
    top: auto;
    transform: none;
}

.Slider-content--center,
.Slider-content--bottomCenter {
    text-align: center;
    width: 100%;
}

.Slider-content--centerRight,
.Slider-content--bottomRight {
    left: auto;
    right: 0;
    text-align: right;
}

.Slider-captionTitle {
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-family: var(--theme-typography-heading-fontFamily);
    font-size: 2.6em;
    line-height: 1.1;
    max-width: 45vw;
    text-shadow: 0 0 5px rgba(0, 0, 0, .6);
    text-transform: uppercase;
}

.Slider-caption {
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 1.2em;
    line-height: 1.2;
    max-width: 30vw;
    text-shadow: 0 0 2px rgba(0, 0, 0, .6);
}

.Slider-content--center .Slider-captionTitle,
.Slider-content--center .Slider-caption,
.Slider-content--bottomCenter .Slider-captionTitle,
.Slider-content--bottomCenter .Slider-caption {
    max-width: 100%;
}

@media (--c-bp-lg) {
    .Slider-captionTitle {
        font-size: 2em;
        max-width: 50vw;
    }

    .Slider-caption {
        max-width: 40vw;
    }
}

@media (--c-bp-md) {
    .Slider-content {
        background: var(--theme-slider-caption-small-screen-background);
        bottom: auto;
        display: block;
        left: auto;
        padding: 8px;
        position: relative;
        right: auto;
        text-align: center;
        text-shadow: none;
        top: auto;
        transform: none;
    }

    .Slider-captionTitle {
        font-size: var(--base-typography-h1-fontSize);
        line-height: var(--base-typography-h1-lineHeight);
        margin-bottom: 6px;
        max-width: 100%;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    }

    .Slider-caption {
        max-width: 100%;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    }
}

@media (--c-bp-sm) {
    .Slider-captionTitle {
        font-size: var(--base-typography-h2-fontSize);
        line-height: var(--base-typography-h2-lineHeight);
        text-transform: none;
    }
}
