/* =========================================================================== *\
    Default Theme
\* =========================================================================== */

/* Color Config */

:root {
    --theme-primary-color: #3168a4;
    --theme-light-gray: #f2f2f2;
}

/* Body */

:root {
    --theme-body-background: #fff;
}

/*
   Core typography
   Serif and monospace fonts from https://css-tricks.com/snippets/css/system-font-stack/#comment-1606328
*/

:root {
    --theme-typography-color: #0e1d2d;
    --theme-typography-serif: serif;
    --them-typography-monospace: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', monospace;
    --theme-typography-sans-serif: Muli, sans-serif;
    --theme-typography-fontFamily: var(--theme-typography-sans-serif);
}

/* Links & Buttons */

:root {
    --theme-typography-link-color: var(--theme-primary-color);
    --theme-typography-link-colorHover: #244c77;
    --theme-button-background: var(--theme-primary-color);
    --theme-button-background-hover: transparent;
    --theme-button-color: #fff;
    --theme-button-color-hover: var(--theme-primary-color);
    --theme-button-border-color: var(--theme-primary-color);
    --theme-button-border-color-hover: var(--theme-primary-color);
    --theme-button-background-alt: #bb6519;
    --theme-button-background-hover-alt: #e27e25;
    --theme-button-color-alt: #fff;
    --theme-button-color-hover-alt: #fff;
    --theme-button-font: var(--theme-typography-fontFamily);
}

/* Headings */

:root {
    --theme-typography-heading-color: #162e49;
    --theme-typography-heading-fontFamily: Muli, sans-serif;
}

/* Main Navigation and Navigation Bar */

:root {
    --theme-navbar-bg: transparent;
    --theme-nav-color: var(--theme-typography-color);
    --theme-nav-color-hover: var(--theme-primary-color);
    --theme-nav-item-bg: transparent;
    --theme-nav-item-bg-hover: transparent;
    --theme-nav-font: var(--theme-typography-fontFamily);
    --theme-nav-font-size: 1em;
    --theme-nav-line-height: 1.5;
    --theme-nav-dropdown-background: #fff;
    --theme-nav-dropdown-background-hover: #fff;
    --theme-nav-dropdown-color: var(--theme-typography-color);
    --theme-nav-dropdown-color-hover: var(--theme-primary-color);
    --theme-nav-sm-screen-btn-background: var(--theme-primary-color);
    --theme-nav-sm-screen-parent-arrow-color: var(--theme-primary-color);
}

/* Full page slider */

:root {
    --theme-slider-caption-small-screen-background: var(--theme-primary-color);
}

/* Image Slider */
:root {
    --theme-image-slider-background: #f2f2f2;
    --theme-image-slider-color: var(--theme-typography-color);
    --theme-image-slider-title-background: var(--theme-primary-color);
    --theme-image-slider-title-color: #fff;
    --theme-image-slider-title-background-hover: #7a0504;
    --theme-image-slider-title-color-hover: #fff;
    --theme-image-slider-title-font-size: 1.2em;
    --theme-image-slider-title-font-weight: 300;
    --theme-image-slider-hover-background: #7a0504;
    --theme-image-slider-hover-color: #fff;
    --theme-image-slider-cover-background: rgba(162, 21, 20, .5);
    --theme-image-slider-cover-color: #fff;
}

/* Page Content Header */

:root {
    --theme-content-header-background: #f2f2f2;
    --theme-content-header-color: var(--theme-typography-color);
}

/* Content Bar */

:root {
    --theme-content-bar-background: #285585;
    --theme-content-bar-heading-color: #fcfdfe;
    --theme-content-bar-color: #fcfdfe;
    --theme-content-bar-button-background: #fcfdfe;
    --theme-content-bar-button-color: var(--theme-content-bar-background);
    --theme-content-bar-button-background-hover: #cfdff1;
    --theme-content-bar-button-color-hover: var(--theme-content-bar-background);
    --theme-content-bar-link-color: #fcfdfe;
    --theme-content-bar-link-color-hover: #fcfdfe;
}

/* Featured Content */

:root {
    --theme-featured-content-background: var(--theme-primary-color);
    --theme-featured-content-heading-color: #efdbd5;
    --theme-featured-content-color: #fff;
    --theme-featured-button-background: #fff;
    --theme-featured-button-color: var(--theme-primary-color);
    --theme-featured-button-background-hover: #7a0504;
    --theme-featured-button-color-hover: #fff;
    --theme-featured-link-color-hover: #c3b4af;
}


/* Content Grid */

:root {
    --theme-content-grid-title-color: var(--theme-content-header-color);
    --theme-content-grid-title-hover-color: var(--theme-primary-color);
}

/* Image Grid */

:root {
    --theme-image-grid-title-background: var(--theme-primary-color);
    --theme-image-grid-title-color: #fff;
    --theme-image-grid-title-font-size: 1.2em;
    --theme-image-grid-title-font-weight: 300;
    --theme-image-grid-title-hover-background: var(--theme-primary-color);
    --theme-image-grid-title-hover-color: #fff;
    --theme-image-grid-hover-background: color(var(--theme-primary-color) shade(20%));
    --theme-image-grid-hover-color: #fff;
    --theme-image-grid-cover-background: color(var(--theme-primary-color) a(50%));
    --theme-image-grid-title-cover-color: #fff;
}

/* General Component Styles */

:root {
    --theme-component-top-margin: 20px;
}

/* Featured Content */

:root {
    --theme-feature-top-margin: 60px;
}

/* Footer */

:root {
    --theme-footer-bg: var(--theme-primary-color);
    --theme-footer-color: #fff;
    --theme-footer-font-size: 1.4rem;
    --theme-footer-nav-font: var(--theme-typography-fontFamily);
    --theme-footer-nav-font-size: 1em;
    --theme-footer-nav-color: #fff;
    --theme-footer-nav-color-hover: #fff;
}
