{% spaceless %}
<div class="SearchForm">
    {{ form.openTag }}
    <div class="Arrange Arrange--middle">
        <div class="Arrange-sizeFill">
            {% set form.fields.searchTerm.class = 'SearchForm-input' %}
            {% set form.fields.searchTerm.id = '' %}
            {% set form.fields.searchTerm.placeholder = 'Search...' %}
            {{ form.fields.searchTerm.tag }}
        </div>
        <div class="Arrange-sizeFit">
            <button class="SearchForm-btn" type="submit"><i class="Icon-search"></i></button>
        </div>
    </div>
    {{ form.closeTag }}
</div>
{% endspaceless %}
