/* ==========================================================================
   Button
   Adds styles to the Cacao Button component
   ========================================================================== */

/** @define Button */

/**
 * Provides a structural UI button template ready to be extended
 *
 * The button classes are best applied to links and buttons.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 */

:root {
    --Button-background: var(--theme-button-background);
    --Button-backgroundHover: var(--theme-button-background-hover);
    --Button-border: 1px solid var(--theme-button-border-color);
    --Button-border-radius: 60px;
    --Button-color: var(--theme-button-color);
    --Button-colorHover: var(--theme-button-color-hover);
    --Button-disabled-opacity: .6;
    --Button-fontFamily: var(--theme-button-font);
    --Button-fontSize: inherit;
    --Button-letterSpacing: 1px;
    --Button-lineHeight: 1.4;
    --Button-padding: .35em 1.5em;
    --Button-paddingLg: .7em 2em;
    --Button-paddingSm: .2em .75em;
}

/**
 * 1. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 2. Prevent button text from being selectable.
 */

.Button,
.Button[href^=tel] {
    background: var(--Button-background);
    border: var(--Button-border);
    border-radius: var(--Button-border-radius);
    box-sizing: border-box; /* 1 */
    color: var(--Button-color);
    cursor: pointer;
    display: inline-block;
    font-family: var(--Button-fontFamily);
    font-size: var(--Button-fontSize);
    font-weight: 500;
    letter-spacing: var(--Button-letterSpacing);
    line-height: var(--Button-lineHeight);
    margin: 0;
    padding: var(--Button-padding);
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none; /* 2 */
}

/**
 * UI States
 */

.Button:hover,
.Button[href^=tel]:hover,
.Button:focus,
.Button[href^=tel]:focus,
.Button:active,
.Button[href^=tel]:active {
    background: var(--Button-backgroundHover);
    color: var(--Button-colorHover);
    text-decoration: none;
}

.Button--withIcon,
.Button--withIcon[href^=tel] {
    padding-right: .6em;
}

.Button--withIconLeft,
.Button--withIconLeft[href^=tel] {
    padding-left: .6em;
}

.Button-icon,
.Button-icon[href^=tel] {
    bottom: 2px;
    position: relative;
}

/**
 * Size modifiers
 */

.Button--lg,
.Button--lg[href^=tel] {
    font-size: calc(var(--base-typography-fontSize) + 3px);
    padding: var(--Button-paddingLg);
}

.Button--sm,
.Button--sm[href^=tel] {
    font-size: var(--base-typography-fontSize);
    font-weight: 300;
    padding: var(--Button-paddingSm);
}

/**
 * Color modifiers
 */
.Button--secondary,
.Button--secondary[href^=tel] {
    background: var(--theme-button-background-alt);
    color: var(--theme-button-color-alt);
}

.Button--secondary:active,
.Button--secondary[href^=tel]:active,
.Button--secondary:focus,
.Button--secondary[href^=tel]:focus,
.Button--secondary:hover,
.Button--secondary[href^=tel]:hover {
    background: var(--theme-button-background-hover-alt);
    color: var(--theme-button-color-hover-alt);
}

/**
 * Border modifiers
 */
.Button--square,
.Button--square[href^=tel] {
    border-radius: 0;
}

.Button--outline,
.Button--outline[href^=tel] {
    background: transparent;
    border: 2px solid var(--Button-background);
    color: var(--Button-background);
}

.Button:hover,
.Button[href^=tel]:hover,
.Button:focus,
.Button[href^=tel]:focus,
.Button:active,
.Button[href^=tel]:active {
    background: var(--Button-background);
    border: 2px solid var(--Button-background);
    color: var(--Button-color);
}
