/* =========================================================================== *\
    Columned feature
\* =========================================================================== */


/* @define ColumnFeature */

.ColumnFeature {
    margin-top: var(--theme-feature-top-margin);
}

.ColumnFeature-title {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.ColumnFeature-image {
    max-height: 300px;
    object-fit: cover;
}

.ColumnFeature-content {
    font-size: .9em;
    padding: 15px 10px;
}

/* postcss-bem-linter: ignore */
.ColumnFeature-content p:last-child {
    margin-bottom: 0;
}
