{% if images|length > 0 %}
    {% if _core.theme.settings.blockImageBarWidth == 'contained' %}
        <div class="Container Container--pad">
    {% endif %}
        <div class="ImageBar{% if _core.theme.settings.blockImageBarImageGrayscale == 'yes' %} ImageBar--grayscale{% endif %}">
            {% for image in images %}
                {% set image.image.class = 'ImageBar-image' %}
                {% do image.image.lazy() %}
                {% if image.url %}
                    <a href="{image.url}" target="_blank" class="ImageBar-link">{{ image.image.tag }}</a>
                {% else %}
                    {{ image.image.tag }}
                {% endif %}
            {% endfor %}
        </div>
    {% if _core.theme.settings.blockImageBarWidth == 'contained' %}
        </div>
    {% endif %}
{% endif %}
