{% include 'snippets/header' %}
{% block banner _page.content('banner') %}

{% if _page.isHome == false %}
    {{ _page.breadcrumb }}
{% endif %}

<div class="u-cf">
    <main id="main">
        {% block main _page.content() %}
    </main>
</div>

{% block footer _page.content('footer') %}
{%  include 'snippets/footer' %}
