{%  include 'snippets/header' %}
{{ _page.content('header') }}
<div class="Container">
    {% block header %}{% endblock %}
    {% if _page.isHome == false %}
        {{ _page.breadcrumb }}
    {% endif %}
    <div class="Content u-cf">
        <main id="main">{% block main %}{{ _page.content() }}{% endblock %}</main>
    </div>
</div>
{{ _page.content('footer') }}
{%  include 'snippets/footer' %}
