{% include 'snippets/header' %}
{% block banner _page.content('banner') %}

<div class="Container">
    {% if _page.isHome == false %}
        {{ _page.breadcrumb }}
    {% endif %}
    <div class="Content u-cf">
        <main id="main">
            {% block main _page.content() %}
        </main>
    </div>
</div>

{% block footer _page.content('footer') %}
{%  include 'snippets/footer' %}
