{%  include 'snippets/header' %}
<main id="main">
    {{ _page.content('header') }}
    <div class="Container">
        {% block header %}{% endblock %}
        {% if _page.isHome == false %}
            {{ _page.breadcrumb }}
        {% endif %}
        <div class="Content u-cf">
            <div class="Grid Grid--withGutterXlg">
                <div class="Grid-cell u-size3of4 u-md-sizeFull u-push1of4 u-md-pushNone">
                    <main id="main">{% block main %}{{ _page.content() }}{% endblock %}</main>
                </div>
                <div class="Grid-cell u-size1of4 u-md-sizeFull u-pull3of4 u-md-pullNone">
                    <aside>
                        {% block sidebar %}
                        {{ _api.navigation.getSubNavigationByUrl.key('main').getParentItem('yes').showSubNav('yes').template('sidebar') }}
                        {% endblock %}
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'snippets/footer' %}
