/* =========================================================================== *\
    Image utility styles
\* =========================================================================== */


.u-imageBlurSm {
    filter: blur(2px);
    transform: scale(1.1);
}
.u-imageBlurMd {
    filter: blur(5px);
    transform: scale(1.1);
}

.u-imageBlurLg {
    filter: blur(10px);
    transform: scale(1.1);
}

.u-imageGrayscale {
    filter: grayscale(1);
}
