/* =========================================================================== *\
    Header
\* =========================================================================== */

/* @define Header */

.Header {
    background-color: var(--Header-backgroundColor);
    border-bottom: 1px solid #ebeaeb;
    display: block;
    padding: var(--Header-padding-sm, 12px 0);
    z-index: 1000;
}

.Header-logoWrap {
    align-items: center;
    display: flex;
    margin-bottom: 2px;
    order: 1;
}

.Container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px; /* Reduce padding */
    padding-right: 10px; /* Reduce padding */
    width: 100%;
}

.Header-inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header-skipToMain {
    align-items: center;
    display: flex;
    height: 1px;
    justify-content: center;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 1px;
    z-index: 100;
}

@media (width < 1051px) {
    .Container {
        max-width: 100%; /* Allow container to take up full width */
        padding-left: 10px; /* Reduce padding */
        padding-right: 10px; /* Reduce padding */
    }

    .Header {
        padding: 12px;
        position: sticky;
        top: 0;
    }

    .Header-inner {
        flex-wrap: wrap;
        padding: 12px;
    }

    .Header.is-sticky {
        padding: var(--Header-padding, 6px 0);
    }

}



.Header-social {
    margin-right: 12px;
    order: 3;
}

.Header-buttons {
    order: 4;
}
