/* =========================================================================== *\
    Header
\* =========================================================================== */

/* @define Header */

.Header {
    background-color: var(--Header-backgroundColor);
    border-bottom: 1px solid #ebeaeb;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 1000;
}

.headerLogo {
    max-width: var(--Header-logo-width);
    width: 100%;
}

.Header-logoWrap {
    order: 1;
}

.Container {
    margin-left: auto;
    margin-right: auto;
}

/* Default for smallest size */
.Header-inner {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.Header-skipToMain {
    align-items: center;
    display: flex;
    height: 1px;
    justify-content: center;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 1px;
    z-index: 100;
}

.Header-social {
    margin-right: 12px;
    order: 3;
}

.Header-buttons {
    font-family: var(--Header-button-fontFamily);
    order: 4;
}

/* --m-sm = 576px and above */

@media (--m-sm) {
    .Header {
        padding: 12px 0;
        padding-left: 40px;
        padding-right: 40px;
        position: sticky;
        top: 0;
    }

    .Header-inner {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .Header.is-sticky {
        padding: var(--Header-padding, 6px 0);
    }
}



/* --m-lg = 1024px and above */
@media (--m-lg) {
    .Header {
        padding: 12px;
    }

    .Header-inner {
        flex-flow: wrap;
        justify-content: space-evenly;
    }
}

