/* =========================================================================== *\
    Back to Top link
\* =========================================================================== */


/* @define BackTop */

.BackTop {
    background: #bb6519;
    height: 30px;
    position: absolute;
    right: 10px;
    top: -15px;
    width: 30px;
    z-index: 2;
}

.BackTop::after {
    background: #fff;
    content: '';
    height: 2px;
    left: 8px;
    position: absolute;
    top: 13px;
    transform: rotate(-45deg);
    width: 10px;
}

.BackTop::before {
    background: #fff;
    content: '';
    height: 2px;
    left: 14px;
    position: absolute;
    top: 13px;
    transform: rotate(45deg);
    width: 10px;
}

.BackTop-description {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

