/* =========================================================================== *\
    Footer
\* =========================================================================== */

/* @define Footer */
.Footer {
    color: var(--Footer-color);
    padding: var(--Footer-sm-padding, 0);
}

.Footer-attribution {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

@media (--m-lg) {
    .Footer {
        padding: var(--Footer-padding, 20px 0);
    }

    .Footer-contact {
        display: flex;
        justify-content: center;
    }

    .Footer-contact a {
        border-left: 2px solid black;
        padding: 0 20px;
    }

    .Footer-address {
        padding: 0 20px;
    }

    .Footer-copyRight {
        margin-top: -20px;
    }

    .Footer-attribution {
        flex-direction: row;
        justify-content: center;
    }

    .Footer-attribution a {
        padding: 0 20px;
    }

    .Footer-attribution a:not(:first-child) {
        border-left: 2px solid black;
    }

}
