/* =========================================================================== *\
    Footer
\* =========================================================================== */

/* @define Footer */
.Footer {
    color: var(--Footer-color);
    margin: var(--Footer-sm-margin, 0);
    padding: var(--Footer-sm-padding, 0);
}

.Footer-attribution {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

@media (--c-bp-lg) {
    .Footer {
        margin: var(--Footer-margin, 0);
        padding: var(--Footer-padding, 20px 0);
    }

    .Footer-attribution {
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }
}
