/* =========================================================================== *\
    Content Grid
\* =========================================================================== */


/* @define ContentGrid */

.ContentGrid {
    margin-top: var(--theme-component-top-margin);
}

.ContentGrid-cell {
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.ContentGrid-item {
    position: relative;
}


.ContentGrid-link {
    color: inherit;
    display: block;
    text-decoration: none;
}

.ContentGrid-link:active,
.ContentGrid-link:focus,
.ContentGrid-link:hover {
    color: var(--theme-content-grid-title-hover-color);
    text-decoration: none;
}

.ContentGrid-link:active,
.ContentGrid-link:focus,
.ContentGrid-link:hover {
    text-decoration: none;
}

.ContentGrid-title {
    color: var(--theme-content-grid-title-color);
    font-family: var(--theme-typography-heading-fontFamily);
    font-size: var(--base-typography-h3-fontSize);
    font-size: var(--base-typography-h3-lineHeight);
}

/* postcss-bem-linter: ignore */

.FeaturedContent .ContentGrid-title {
    color: var(--theme-featured-content-heading-color);
}

.ContentGrid-content {

}

.ContentGrid-button {

}
