<div class="BannerWithForm">
    <div class="Container Container--pad">
        <div class="BannerWithForm-grid grid g-4">
            <div class="BannerWithForm-content col-1-1 col-md-1-2">
                {{ content }}
            </div>
            <div class="BannerWithForm-form col-1-1 col-md-1-2">
                <a id="form"></a>
                {{ _core.theme.settings.bannerWithFormFormContent }}
                {{ form }}
            </div>
        </div>
    </div>
</div>
