<div class="Wrapper Wrapper--bg{{ background|pascal}}{#{% if background == 'None' %} Wrapper--noPad{% endif %}#}">
    <div class="Container {{ width == 'Narrow' ? 'Container--narrow' : 'Container--pad' }}">
        {% for element in content.elements %}
            {{ element.content }}
        {% endfor %}
    </div>
</div>
