/* =========================================================================== *\
    List Navigation

    This is used to display navigation within the content of a page
\* =========================================================================== */

/* @define ListNav */
.ListNav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ListNav-item {
    margin: 2px 0;
    padding: 4px 8px 4px 0;
}
