/* ==========================================================================
   Main Navigation
   ========================================================================== */

/** @define MainNav */

/**
 * Base menu
 */

.MainNav {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    font-family: var(--MainNav-font-family);
    gap: var(--MainNav-item-gap);
    justify-content: var(--MainNav-horizontal-alignment);
    list-style: none;
    margin: 0;
    padding: 0;
}

.MainNav-item {
    font-size: var(--MainNav-font-size);
    letter-spacing: var(--MainNav-letter-spacing);
    line-height: var(--MainNav-line-height);
    text-transform: var(--MainNav-text-transform);
    width: 100%;
}

.MainNav-link {
    background: var(--MainNav-link-background, transparent);
    color: var(--MainNav-color);
    display: block;
    font-weight: var(--MainNav-font-weight);
    padding: var(--MainNav-item-padding-sm);
    position: relative;
    text-align: center;
    text-decoration: var(--MainNav-link-text-decoration, none);
}

.MainNav-item.is-current > .MainNav-link,
.MainNav-item.is-currentParent > .MainNav-link,
.MainNav-item:hover > .MainNav-link {
    background: var(--MainNav-link-background-hover, transprent);
    color: var(--MainNav-color-hover);
    text-decoration: var(--MainNav-link-text-decoration-hover, none);
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

@media (--m-lg-below) {
    .MainNav-link {
        text-align: left;
    }

    .MainNav-link.is-dropdown::after {
        border: 5px solid transparent;
        border-left-color: currentcolor;
        content: '';
        display: block;
        opacity: 0.7;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .MainNav-link.is-dropdown.is-active::after {
        right: 13px;
        top: 60%;
        transform: translateY(-50%) rotate(90deg);
    }
}

@media (--m-lg) {
    .MainNav {
        flex-direction: row;
        margin: 0;
    }

    .MainNav-item {
        width: unset;
    }

    .MainNav-link {
        padding: var(--MainNav-item-padding);
    }

    .MainNav-item--smallScreen {
        display: none;
    }
}
