/* =========================================================================== *\
    Sidebar Navigation
\* =========================================================================== */

/* @define SidebarNav */
.SidebarNav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.SidebarNav-item {
    margin: 2px 0;
    padding: 0;
}

.SidebarNav-link {
    background-color: var(--SidebarNav-background);
    color: var(--SidebarNav-color);
    display: block;
    font-family: var(--SidebarNav-font-family);
    font-size: var(--SidebarNav-font-size);
    font-style: var(--SidebarNav-font-style);
    font-weight: var(--SidebarNav-font-weight);
    letter-spacing: var(--SidebarNav-letter-spacing);
    line-height: var(--SidebarNav-line-height);
    padding: var(--SidebarNav-padding, 4px 8px);
    position: relative;
    text-decoration: var(--SidebarNav-text-decoration);
    text-transform: var(--SidebarNav-text-transform);
}

.SidebarNav-link--isParent {
    font-family: var(--SidebarNav-parent-font-family);
    font-size: var(--SidebarNav-parent-font-size);
    font-style: var(--SidebarNav-parent-font-style);
    font-weight: var(--SidebarNav-parent-font-weight);
    letter-spacing: var(--SidebarNav-parent-letter-spacing);
    line-height: var(--SidebarNav-parent-line-height);
    padding: var(--SidebarNav-parent-padding, 0 0 8px 0);
    text-decoration: var(--SidebarNav-parent-text-decoration);
    text-transform: var(--SidebarNav-parent-text-transform);
}

.SidebarNav-link:active,
.SidebarNav-link:focus,
.SidebarNav-link:hover {
    background: var(--SidebarNav-backgroundHover);
    color: var(--SidebarNav-colorHover);
    text-decoration: none;
}

.SidebarNav-link.is-current,
.SidebarNav-link.is-currentParent {
    color: var(--SidebarNav-current-color);
    text-decoration: none;
}

.SidebarNav-link.is-current:active,
.SidebarNav-link.is-current:focus,
.SidebarNav-link.is-current:hover,
.SidebarNav-link.is-currentParent:active,
.SidebarNav-link.is-currentParent:focus,
.SidebarNav-link.is-currentParent:hover {
    background-color: var(--SidebarNav-background-hover);
    color: var(--SidebarNav-color-hover);
    text-decoration: var(--SidebarNav-text-decoration-hover);
}

.SidebarNav-link--isParent.is-current,
.SidebarNav-link--isParent.is-currentParent {
    background: transparent;
    color: var(--SidebarNav-parent-color);
}
