/* =========================================================================== *\
    Content Header at the top of pages
\* =========================================================================== */


/* @define ContentHeader */

.ContentHeader {
    background: var(--theme-content-header-background);
    color: var(--theme-content-header-color);
    margin-bottom: var(--base-typography-spacing);
    padding: 25px;
    text-align: center;
}

.ContentHeader-title {
    color: var(--theme-content-header-color);
    font-size: 2em;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    position: relative;
    text-transform: uppercase;
}

.ContentHeader-content {
    margin-top: 10px;
}

/* postcss-bem-linter: ignore */

.ContentHeader-content p:last-child {
    margin-bottom: 0;
}
