/* =========================================================================== *\
    MAIN NAVIGATION BAR
\* =========================================================================== */


/** @define NavBar */

.NavBar {
    background: var(--theme-navbar-bg);
    color: var(--theme-nav-color);
    padding: 0 28px;
}
