/* =========================================================================== *\
    Footer Navigation
\* =========================================================================== */



/** @define FooterNav */

:root {
    --FooterNav-fontSize: var(--theme-footer-nav-font-size);
    --FooterNav-lineHeight: 1;
    --FooterNav-link-color: var(--theme-footer-nav-color);
    --FooterNav-link-colorHover: var(--theme-footer-nav-color-hover);
}

/**
 * Base menu
 */

.FooterNav {
    box-sizing: border-box;
    display: block;
    font-family: var(--theme-footer-nav-font);
    font-size: var(--FooterNav-fontSize);
    line-height: var(--FooterNav-lineHeight);
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}

/**
 * Items
 */

.FooterNav-item {
    border-left: 1px solid var(--FooterNav-link-color);
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
}

.FooterNav-item:first-child {
    border-left: none;
    margin-left: 0;
}

/**
 * Links
 */

.FooterNav-link {
    box-sizing: border-box;
    color: var(--FooterNav-link-color);
    display: block;
    text-decoration: none;
}

.FooterNav-link:hover {
    color: var(--FooterNav-link-colorHover);
    text-decoration: underline;
}

@media (--c-bp-lg) {
    .FooterNav {
        column-count: 3;
        column-gap: 50px;
        display: block;
        margin-bottom: 20px;
    }

    .FooterNav-item {
        border-left: none;
        display: block;
        padding: 8px 0;
    }
}

@media (--c-bp-sm) {
    .FooterNav {
        column-count: 2;
    }
}

@media (--c-bp-xs) {
    .FooterNav {
        column-count: 1;
    }
}
