/* ==========================================================================
   Main Navigation
   ========================================================================== */

/** @define MainNav */

:root {
    --MainNav-fontFamily: var(--theme-nav-font);
    --MainNav-fontSize: var(--theme-nav-font-size);
    --MainNav-lineHeight: var(--theme-nav-line-height);
    --MainNav-link-background: var(--theme-nav-item-bg);
    --MainNav-link-backgroundHover: var(--theme-nav-item-bg-hover);
    --MainNav-link-color: var(--theme-nav-color);
    --MainNav-link-colorHover: var(--theme-nav-color-hover);
}

/**
 * Base menu
 */

.MainNav {
    box-sizing: border-box;
    display: inline-block;
    font-family: var(--MainNav-fontFamily);
    font-size: var(--MainNav-fontSize);
    line-height: var(--MainNav-lineHeight);
    list-style: none;
    margin: 0 0 0 -1em;
    padding: 0;
    text-transform: uppercase;
}

@media(--c-bp-largeScreenNav) {
    .MainNav {

    }

    .MainNav--right {
        display: flex;
        justify-content: flex-end;
    }

    .MainNav--centered {
        display: flex;
        justify-content: center;
    }

    .MainNav--spaced {
        display: flex;
        justify-content: space-evenly;
    }
}

/**
 * Items
 */

.MainNav-item {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 1em;
}

/** Item that should only be shown in the small screen navigation **/

.MainNav-item--smallScreen {
    display: none;
}

@media (--c-bp-smallScreenNav) {
    .MainNav-item--smallScreen {
        display: block;
    }
}

/**
 * Links
 */

.MainNav-link {
    background: var(--MainNav-link-background);
    box-sizing: border-box;
    color: var(--MainNav-link-color);
    display: block;
    font-weight: 600;
    padding: .5em 1.5rem;
    position: relative;
    text-decoration: none;
}

@media (--c-bp-largeScreenNav) {
    .MainNav-item.is-current > .MainNav-link,
    .MainNav-item.is-currentParent > .MainNav-link,
    .MainNav-item:hover > .MainNav-link {
        background: var(--MainNav-link-backgroundHover);
        color: var(--MainNav-link-colorHover);
        text-decoration: none;
    }
}
