<div class="ContentBar ContentBar--space{{ spacing }}{% if background != 'White' %} ContentBar--{{ background|lower }}{% endif %}">
    <div class="Container Container--pad">
        {% for element in parent.elements %}
            {{ element.content }}
        {% endfor %}
    </div>
</div>
