{# Documentation at https://developers.facebook.com/docs/plugins/embedded-video-player/ #}
{% if videos %}
    {% import 'macros/macros' as macros %}
    
    {% if _page.hasJs('https://connect.facebook.net/en_US/sdk.js') == false %}
        <div id="fb-root"></div>
        {% do _page.addJs('https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2', {async: true, defer: true}) %}
        {% do _page.registerJs('https://connect.facebook.net/en_US/sdk.js') %}
    {% endif %}
    
    {% set class = 'js-videoSlider' ~ random_string(8)|upper %}
    <div class="splide {{ class }}" role="group" aria-label="Facebook Video Slider">
        <div class="splide__track">
            <ul class="splide__list">
                {% for video in videos %}
                    <li class="splide__slide">
                        <div class="fb-video" data-href="{{ video.facebookVideoUrl }}" data-allowfullscreen="true" data-width="auto">Video loading...</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    {{ macros.loadSplide() }}
    {% inlinejs %}
        loadjs.ready('splide', {
            success: function() {
                new Splide('.{{ class }}', {
                    pagination  : false,
                    rewind      : true,
                    perMove     : 1,
                    gap         : '10px',
                    padding     : { left: 36, right: 36 },
                    autoplay    : false,
                    perPage     : 2,
                    breakpoints : {
                        700: {
                            perPage: 1
                        }
                    }
                }).mount();
            }
        });
    {% endinlinejs %}
{% endif %}
