<div class="FlexEmbed u-margBottom2">
    <div class="FlexEmbed-ratio FlexEmbed-ratio--{{ embedRatio }}"></div>
    <iframe class="FlexEmbed-content" frameborder="0" title="{{ title ?: "Embedded iframe" }}" allowfullscreen src="{{ iframeTag.src }}" loading="lazy"></iframe>
</div>
