{% if embedUrl.errors|length == 0 %}
    {% for url in embedUrl.urlInfo %}
        <div class="FlexEmbed u-margBottom2">
            <div class="FlexEmbed-ratio FlexEmbed-ratio--{{ embedRatio }}"></div>
            <iframe class="FlexEmbed-content" frameborder="0" title="{{ title ?: "Embedded media" }}" allowfullscreen src="{{ url.iframeEmbed.src }}"></iframe>
        </div>
    {% endfor %}
{% else %}
    {{ embedUrl.errors|join('<br>') }}
{% endif %}
