
{% extends "one-column.twig" %}

{% block main %}
    <h1>Store</h1>
    <div class="Grid Grid--withGutterLg Grid--equalHeight">
        {% for category in categories %}
            <div class="Grid-cell u-size1of3 u-md-sizeFull u-margBottom4">
                <div class="Card">
                    {% if category.image %}
                        <div class="Card-image">
                            <a href="{{ category.url }}" class="Card-image--aspect1by1">
                                {% set category.image.loading = 'lazy' %}
                                {% set category.image.alt = category.categoryName %}
                                {{ category.image.tag }}
                            </a>
                        </div>
                    {% endif %}
                    <div class="Card-inner">
                        <div class="Card-title u-textCenter">
                            <a href="{{ category.url }}" class="u-linkClean">{{ category.categoryName }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
