<h1>Checkout</h1>

{% if form.errors %}
    <div class="FormError">
        <p>There was a problem. Please correct the issues below</p>
        <ul class="FormError-list">
            {% for error in form.errors %}
                <li class="FormError-listItem">{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<ul class="List List--arrow">
    <li><a href="{{ appUrls.cart }}">Shopping Cart</a></li>
    <li class="u-weightBold">Shipping Address</li>
    <li>Shipping Method</li>
    <li>Billing &amp; Payment</li>
    <li>Confirmation</li>
    <li>Receipt</li>
</ul>

<h2>Shipping Address</h2>
<p><em>*</em> = required field </p>

{{ form.content }}
