
{% extends 'one-column.twig' %}

{% block main %}
    <h1>Search Products</h1>
    {{ form.openTag }}
        {% set form.fields.term.class = 'TextInput' %}
        {% set form.fields.term.placeholder = 'Search...' %}
        <label for="{{ form.fields.term.id }}" class="u-hiddenVisually">Search</label>
        {{ form.fields.term.tag }}
        <button type="submit" class="Button">Search</button>
    {{ form.closeTag }}
{% endblock %}
