/* =========================================================================== *\
    SEARCH FORM
\* =========================================================================== */


/** @define SearchForm */

:root {
    --SearchForm-color: #7b7b7b;
}

.SearchForm {
    border: 1px solid var(--SearchForm-color);
    box-sizing: border-box;
    display: inline-block;
    margin-top: 20px;
    padding: 2px;
    position: relative;
    width: 200px;
}

@media (--c-bp-sm) {
    .SearchForm {
        width: 100%;
    }
}

.SearchForm--full {
    background: #fff;
    display: block;
    margin-left: 0;
    width: 70%;
}

@media (max-width: 1120px) {
    .SearchForm--full {
        width: 70%;
    }
}

@media (--c-bp-lg) {
    .SearchForm--full {
        width: 100%;
    }
}

@media (--c-bp-md) {
    .SearchForm--full {
        width: 100%;
    }
}

.SearchForm-input {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: var(--SearchForm-color);
    font-size: 15px;
    padding: 2px 4px;
    width: 100%;
}

.SearchForm-input::placeholder {
    color: var(--SearchForm-color);
    opacity: .8;
}

.SearchForm-btn {
    background: transparent;
    background-size: contain;
    border: none;
    box-sizing: border-box;
    color: var(--SearchForm-color);
    display: inline-block;
    height: 24px;
    margin-left: 10px;
    padding: 0;
    width: 24px;
}

.SearchForm--full .SearchForm-input {
    background: #fff;
}

.SearchForm--full .SearchForm-btn {
    height: 29px;
    width: 29px;
}

@media (--c-bp-md) {
    .SearchForm-input {
        font-size: 16px;
    }
}

.SearchForm--footer {
    background: #fff;
    border: 1px solid #bbbbbb;
}

.SearchForm--footer .SearchForm-input {
    background: #fff;
    border: none;
    color: inherit;
}
